doctype
html
    include head.jade
    body
        header
            h1 My Site
        a(href="/add", text="Add item")
            | Add item
        .container
            .main-content
                block contentd

                .item_form
                    block add
                .data
                    block data

            .sidebar
                block sidebar

        footer
            p Running on node with Express, Jade and Stylus
